extends partials/templates/_template.pug

block content
  +b.SECTION.page--category

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          span
            a(href="#") Главная
          span Полезная информация

    // Cat
    +b.SECTION.cat
      .container
        +e.H1.title Полезная информация
        +e.description Возможно какой-то текст об информации ниже
        +e.UL.list
          +b.cat-item.row
            .col-xs-12.col-md-4.col-xl-3
              +e.img
                img(src="img/f2e085e02d9db91300ffedd909f45602.jpg", alt="")
            .col-xs-12.col-md-8.col-xl-9
              +e.text-wrapper
                +e.H3.title Эндопротезирование голеностопного сустава
                +e.text Уважаемые пациенты, данная статья предназначена для тех людей, которые не понаслышке знают о нестерпимых болях в области голеностопного сустава при ходьбе и постоянной ноющей боли даже в состоянии покоя. И для тех, кто следит за своим здоровьем и занимается профилактикой заболевания, а при появлении первых симптомов болезни обращается за помощью специалиста. Боль, отёк, покраснение, местное повышение температуры в области поражённого сустава, скованность движений вот те симптомы и жалобы, которые приводят наших пациентов на приём к врачу травматологу-ортопеду.
              +e.btn
                +b.A.btn--more(href="#") Подробнее
          +b.cat-item.row
            .col-xs-12.col-md-4.col-xl-3
              +e.img
                img(src="img/f2e085e02d9db91300ffedd909f45602.jpg", alt="")
            .col-xs-12.col-md-8.col-xl-9
              +e.text-wrapper
                +e.H3.title Эндопротезирование голеностопного сустава
                +e.text Уважаемые пациенты, данная статья предназначена для тех людей, которые не понаслышке знают о нестерпимых болях в области голеностопного сустава при ходьбе и постоянной ноющей боли даже в состоянии покоя. И для тех, кто следит за своим здоровьем и занимается профилактикой заболевания, а при появлении первых симптомов болезни обращается за помощью специалиста. Боль, отёк, покраснение, местное повышение температуры в области поражённого сустава, скованность движений вот те симптомы и жалобы, которые приводят наших пациентов на приём к врачу травматологу-ортопеду.
              +e.btn
                +b.A.btn--more(href="#") Подробнее
          +b.cat-item.row
            .col-xs-12.col-md-4.col-xl-3
              +e.img
                img(src="img/f2e085e02d9db91300ffedd909f45602.jpg", alt="")
            .col-xs-12.col-md-8.col-xl-9
              +e.text-wrapper
                +e.H3.title Эндопротезирование голеностопного сустава
                +e.text Уважаемые пациенты, данная статья предназначена для тех людей, которые не понаслышке знают о нестерпимых болях в области голеностопного сустава при ходьбе и постоянной ноющей боли даже в состоянии покоя. И для тех, кто следит за своим здоровьем и занимается профилактикой заболевания, а при появлении первых симптомов болезни обращается за помощью специалиста. Боль, отёк, покраснение, местное повышение температуры в области поражённого сустава, скованность движений вот те симптомы и жалобы, которые приводят наших пациентов на приём к врачу травматологу-ортопеду.
              +e.btn
                +b.A.btn--more(href="#") Подробнее

          +b.page-pagination
            nav.navigation.pagination(role='navigation')
              .nav-links
                span.page-numbers.current 1
                a.page-numbers(href='#') 2
                a.page-numbers(href='#') 3
                a.page-numbers(href='#') 4
                a.page-numbers(href='#') 5
                span.page-numbers.dots …
                a.page-numbers(href='#') 44



