extends partials/templates/_template.pug

block content
  +b.SECTION.page--front-page

    // Promo
    +b.SECTION.promo
      .container
        +e.H1.title Акулаев Антон Андреевич
        +e.H2.subtitle Врач травматолог-ортопед
        +e.btn
          +b.A.btn--text-white(href="#", data-form='appointment') Записаться на прием
          +b.A.down(href="#services", data-form='down', title='Прокрутить вниз')

    // Services
    +b.SECTION.services(id="services")
      .container
        +e.wrapper

          +e.left
            +e.H2.title Наши услуги
            +e.text Здесь может быть текст, описывающий услуги компании
            +e.UL.list
              li.menu-item.current-menu-item
                a(href="#service1") Шишки и косточки на ногах
              li.menu-item
                a(href="#service2") Пяточная шпора
              li.menu-item
                a(href="#service3") Вальгусная деформация стоп
              li.menu-item
                a(href="#service4") Артроз голеностопного сустава
              li.menu-item
                a(href="#service5") Метатарзалгия
              li.menu-item
                a(href="#service6") Hallux Rigidus

          +e.right
            +b.service(id='service1')
              +e.img
                img(src="img/Hallux Rigidus.jpg", alt="")
              +e.text-wrapper
                +e.H3.title Шишки и косточки на ногах 1
                +e.text В настоящее время, патология под название Hallux valgus (вальгусная деформация 1 пальца) является самым распространённым заболеванием переднего отдела стопы. Часто данное заболевание путают с подагрой, но это совершенно ошибочно.
              +e.btn
                +b.A.btn(href="#", data-form='appointment') Записаться на прием
            +b.service(id='service2')
              +e.img
                img(src="img/Hallux Rigidus.jpg", alt="")
              +e.text-wrapper
                +e.H3.title Шишки и косточки на ногах 2
                +e.text В настоящее время, патология под название Hallux valgus (вальгусная деформация 1 пальца) является самым распространённым заболеванием переднего отдела стопы. Часто данное заболевание путают с подагрой, но это совершенно ошибочно.
              +e.btn
                +b.A.btn(href="#", data-form='appointment') Записаться на прием
            +b.service(id='service3')
              +e.img
                img(src="img/Hallux Rigidus.jpg", alt="")
              +e.text-wrapper
                +e.H3.title Шишки и косточки на ногах 3
                +e.text В настоящее время, патология под название Hallux valgus (вальгусная деформация 1 пальца) является самым распространённым заболеванием переднего отдела стопы. Часто данное заболевание путают с подагрой, но это совершенно ошибочно.
              +e.btn
                +b.A.btn(href="#", data-form='appointment') Записаться на прием
            +b.service(id='service4')
              +e.img
                img(src="img/Hallux Rigidus.jpg", alt="")
              +e.text-wrapper
                +e.H3.title Шишки и косточки на ногах 4
                +e.text В настоящее время, патология под название Hallux valgus (вальгусная деформация 1 пальца) является самым распространённым заболеванием переднего отдела стопы. Часто данное заболевание путают с подагрой, но это совершенно ошибочно.
              +e.btn
                +b.A.btn(href="#", data-form='appointment') Записаться на прием
            +b.service(id='service5')
              +e.img
                img(src="img/Hallux Rigidus.jpg", alt="")
              +e.text-wrapper
                +e.H3.title Шишки и косточки на ногах 5
                +e.text В настоящее время, патология под название Hallux valgus (вальгусная деформация 1 пальца) является самым распространённым заболеванием переднего отдела стопы. Часто данное заболевание путают с подагрой, но это совершенно ошибочно.
              +e.btn
                +b.A.btn(href="#", data-form='appointment') Записаться на прием
            +b.service(id='service6')
              +e.img
                img(src="img/Hallux Rigidus.jpg", alt="")
              +e.text-wrapper
                +e.H3.title Шишки и косточки на ногах 6
                +e.text В настоящее время, патология под название Hallux valgus (вальгусная деформация 1 пальца) является самым распространённым заболеванием переднего отдела стопы. Часто данное заболевание путают с подагрой, но это совершенно ошибочно.
              +e.btn
                +b.A.btn(href="#", data-form='appointment') Записаться на прием

    // About
    +b.SECTION.about
      .container
        +e.wrapper

          +e.left
            +e.img
              img(src="img/2017-07-15_08-06-00.png", alt="")
          +e.right
            +e.text-wrapper
              +e.H2.title Вступление от врача
              +e.description Врач, травматолог-ортопед второй квалификационной категории.
              +e.text
                p Медицина не стоит на месте, и постоянно усовершенствуются методы оперативного лечения. За время работы очень часто приходиться сталкиваться с тем, что многие пациенты опасаются того, что лечение надолго лишит их возможности самостоятельно передвигаться и обслуживать себя, что процесс восстановления займёт много времени. Многие думают, что после операции им будут наложены гипсовые повязки и придется передвигаться при помощи костылей.
                p Не оставайтесь наедине с Вашей проблемой и чаще прислушивайтесь к тем звоночкам, которые даёт ваш собственный организм. Ведь даже за самой маленькой как Вам кажется проблемой, может скрываться серьёзная патология, которая требует незамедлительного лечения. Помните, что человеческий организм это единый механизм и если из строя выходит какая-то его часть, то страдает весь организм в целом.
                p Если у Вас остались, какие-то вопросы или Вы хотите получить бесплатную консультацию по телефону, звоните не стесняйтесь. Мы всегда рады Вам помочь.
              +e.btn
                +b.A.btn(href="#", data-form='appointment') Записаться на прием

    // Reviews & rehab
    .reviews-rehab-block
      .container
        .row
          .col-xs-12.col-md-6
            +b.SECTION.reviews
              +e.H2.title Отзывы
              +e.gallery
                - for (var i = 0; i< 4; i++){
                  +b.reviews-item
                    +e.text С другой стороны начало повседневной работы по формированию позиции требуют определения и уточнения соответствующий условий активизации. Таким образом новая модель организационной деятельности обуславливает создание  административных условий.
                    +e.H3.name Петр Иванов
                    +e.img
                      img(src="img/1797_orig.jpg", alt="")
                      +e.before-after
                - }

          .col-xs-12.col-md-6
            +b.SECTION.rehab
              +e.H2.title Реабилитация
              +e.UL.list
                li.menu-item
                  a(href="#") Текстовая ссылка 1
                li.menu-item
                  a(href="#") Текстовая ссылка 2
                li.menu-item
                  a(href="#") Текстовая ссылка 3
                li.menu-item
                  a(href="#") Текстовая ссылка 4
                li.menu-item
                  a(href="#") Текстовая ссылка 5
                li.menu-item
                  a(href="#") Текстовая ссылка 6
              +e.img
                img(src="img/OIH96N0.jpg", alt="")

    // Info
    +b.SECTION.info
      .container
        +e.H2.title Полезная информация
        +e.text Возможно какой-то текст об информации ниже
        .row
          .col-xs-12.col-md-6.col-xl-4
            +b.ARTICLE.info-item
              +e.img
                img(src='img/f2e085e02d9db91300ffedd909f45602.jpg', alt='news1', title='news1')
              +e.H3.title Эндопротезирование голеностопного сустава
              +e.text Уважаемые пациенты, данная статья предназначена для тех людей, которые не понаслышке знают о нестерпимых болях в области голеностопного сустава при ходьбе и постоянной ноющей боли даже в состоянии покоя.
              +e.btn
                +b.A.btn--more(href="#") Подробнее
          .col-xs-12.col-md-6.col-xl-4
            +b.ARTICLE.info-item
              +e.img
                img(src='img/f2e085e02d9db91300ffedd909f45602.jpg', alt='news1', title='news1')
              +e.H3.title Эндопротезирование голеностопного сустава
              +e.text Уважаемые пациенты, данная статья предназначена для тех людей, которые не понаслышке знают о нестерпимых болях в области голеностопного сустава при ходьбе и постоянной ноющей боли даже в состоянии покоя.
              +e.btn
                +b.A.btn--more(href="#") Подробнее
          .col-xs-12.col-md-6.col-xl-4
            +b.ARTICLE.info-item
              +e.img
                img(src='img/f2e085e02d9db91300ffedd909f45602.jpg', alt='news1', title='news1')
              +e.H3.title Эндопротезирование голеностопного сустава
              +e.text Уважаемые пациенты, данная статья предназначена для тех людей, которые не понаслышке знают о нестерпимых болях в области голеностопного сустава при ходьбе и постоянной ноющей боли даже в состоянии покоя.
              +e.btn
                +b.A.btn--more(href="#") Подробнее


