extends partials/templates/_template.pug

block content
  +b.SECTION.page--sample

    // Breadcrumbs
    +b.SECTION.breadcrumbs
      .container
        +e.inner
          span
            a(href="#") Главная
          span
            a(href="#") Услуги
          span Шишки и косточки на ногах

    // Content
    +b.SECTION.content
      .container
        +e.wrapper
          +e.H1.title Шишки и косточки на ногах
          +e.description Здесь может быть какая-то подпись к услуге
          +e.text
            +e.img
              img(src="img/Hallux Rigidus.jpg", alt="about-company", title="about-company")
            p В настоящее время, патология под название Hallux valgus (вальгусная деформация 1 пальца) является самым распространённым заболеванием переднего отдела стопы. Часто данное заболевание путают с подагрой, но это совершенно ошибочно.
            p
              b Так что же скрывается за этим косметическим дефектом?
              br
              | Эстетический дефект – это только лишь один из симптомов серьёзной патологии стопы. В следствии, уплощения продольных и поперечных сводов, происходит отклонение первого пальца к наружи и визуально похоже на «шишку». «Шишка у основания пальца»- это не костный нарост как считает большинство и пытаются вылечить сомнительными способами «народной» медицины, а это деформация костей 1 плюснефалангового сустава.
            p
              b Что же провоцирует появление «косточек» на стопах?
              br
              | В большинстве случаев от заболеваний Hallux valgus страдает прекрасная половина человечества, ведь именно женщины в погоне за модными тенденциями выбирают «неправильную» обувь на высоком каблуке и с зауженным носком. Так же нельзя исключать наследственную предрасположенность к возникновению деформации, зачастую диспластический синдром (высокая степень эластичности всех связок и суставов) наблюдается у нескольких поколений одной семьи. К сожалению, заболевание стоп очень «помолодело», если раньше «косточки» появлялись в возрасте 40-45 лет, то сейчас за помощью к ортопеду обращаются совсем молодые девушки в возрасте 20-25 лет. Лишний вес, малоподвижный образ жизни, эндокринные заболевания и это далеко не полный список факторов провоцирующих заболевание.Итак, как вы успели заметить, существует немало причин провоцирующих появления болезненной и «уродливой косточки» в области первого пальца. При появлении первых симптомов болезни стоит всерьёз задуматься о лечении и обратиться за помощью опытного врача-ортопеда. Своевременно начатое лечение залог наилучшего результата и минимального срока восстановительного периода.
            p
              b Как определить, когда пора обратиться за помощью специалиста?
              br
              | Клиническая картина зависит от степени деформации 1 плюснефалангового сустава. В начальных стадиях, пациенты замечают только огрубение кожи в области первого пальца и небольшое покраснение, появление этих симптомов является поводом для обращения к травматологу-ортопеду, ведь дальше будет только хуже, со временем шишка будет только увеличиваться, деформация усиливаться и ко всему этому присоединятся постоянные ноющие боли в области стоп. Из-за увеличения деформации становится всё труднее подобрать обувь, а боль, которая возникает не только при физической активности, но и в покое, мешает вести привычный образ жизни. Следует понимать, что из-за не правильного распределения нагрузки в стопе при ходьбе, страдают все суставы нижней конечности и позвоночник.
            p
              b С чего начинать лечение?
              br
              | В первую очередь необходимо обратиться к квалифицированному врачу-ортопеду выполняющего все виды консервативного и оперативного лечения заболеваний стоп. Для диагностики заболевания выполняются рентгеновские снимки в двух проекциях (прямой и боковой). После измерения всех рентгенологических параметров и визуального осмотра пациента определяется степень вальгусной деформации 1 пальца стопы, совместно с пациентом принимается решение о тактике лечения. Зачастую заболевание имеет двусторонний характер, патология наблюдается на обеих ногах. В современной медицине существует два основных способа лечения: консервативные (безоперационные) и хирургическая коррекция деформации.

            #wp_rp_first.wp_rp_wrap.wp_rp_modern
              .wp_rp_content
                h3.related_post_title Другие виды операций на стопах:
                ul.related_post.wp_rp
                  li(data-position='0', data-poid='in-17', data-post-type='none')
                    a.wp_rp_thumbnail(href='http://orto-piter.ru/valgusnaya-deformaciya-stop/')
                      img(src='http://orto-piter.ru/wp-content/uploads/2014/04/image11-150x150.jpeg', alt='Вальгусная деформация стоп', width='150', height='150')
                    a.wp_rp_title(href='http://orto-piter.ru/valgusnaya-deformaciya-stop/') Вальгусная деформация стоп
                  li(data-position='1', data-poid='in-21', data-post-type='none')
                    a.wp_rp_thumbnail(href='http://orto-piter.ru/artroz-golenostopnogo-sustava/')
                      img(src='http://orto-piter.ru/wp-content/uploads/2014/04/image1-150x150.jpeg', alt='Артроз голеностопного сустава', width='150', height='150')
                    a.wp_rp_title(href='http://orto-piter.ru/artroz-golenostopnogo-sustava/') Артроз голеностопного сустава
                  li(data-position='2', data-poid='in-843', data-post-type='none')
                    a.wp_rp_thumbnail(href='http://orto-piter.ru/xirurgicheskoe-lechenie-zabolevanij-stop/')
                      img(src='http://orto-piter.ru/wp-content/uploads/2015/08/783a32bc03ff40d6c81a9edef08c9fbd-150x150.jpg', alt='Хирургическое лечение заболеваний стоп', width='150', height='150')
                    a.wp_rp_title(href='http://orto-piter.ru/xirurgicheskoe-lechenie-zabolevanij-stop/') Хирургическое лечение заболеваний стоп
                  li(data-position='3', data-poid='in-23', data-post-type='none')
                    a.wp_rp_thumbnail(href='http://orto-piter.ru/pyatochnaya-shpora/')
                      img(src='http://orto-piter.ru/wp-content/uploads/2014/04/image13-150x150.jpeg', alt='Пяточная шпора', width='150', height='150')
                    a.wp_rp_title(href='http://orto-piter.ru/pyatochnaya-shpora/') Пяточная шпора
                  li(data-position='4', data-poid='in-76', data-post-type='none')
                    a.wp_rp_thumbnail(href='http://orto-piter.ru/metatarsalgia/')
                      img(src='http://orto-piter.ru/wp-content/uploads/2014/04/meta-150x150.jpg', alt='Метатарзалгия стопы', width='150', height='150')
                    a.wp_rp_title(href='http://orto-piter.ru/metatarsalgia/') Метатарзалгия стопы
                  li(data-position='5', data-poid='in-27', data-post-type='none')
                    a.wp_rp_thumbnail(href='http://orto-piter.ru/hallux-rigidus/')
                      img(src='http://orto-piter.ru/wp-content/uploads/2014/04/image14-150x150.jpeg', alt='Hallux Rigidus (остеоартроз первого плюснефалангового сустава)', width='150', height='150')
                    a.wp_rp_title(href='http://orto-piter.ru/hallux-rigidus/') Hallux Rigidus




