.not-found{
  &__title{
    text-transform: uppercase;
    font-weight: bold;
    font-size: 36px;
    margin: 25px 0 25px;
    line-height: (47/36);
    position: relative;
    @media (max-width: $breakpoint-md){
      font-weight: normal;
      font-size: 30px;
    }
    &:after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      height: 3px;
      width: 70px;
      background-color: $blue;
    }
  }
  &__btn{
    text-align: center;
    margin: 40px 0;
  }
}
