include ../abstracts/bemto/bemto.pug

// Footer
+b.FOOTER.footer
  .container
    .row
      .col-xs-12.col-md-4.col-xl-4
        +e.H3.title Обратная связь
        +e.A.tel(href="tel:88129816747", target="_blank") 8 (812) 981 67 47
        +e.A.tel(href="tel:89500389374", target="_blank") 8 (950) 038 93 74
        +e.A.email(href="mailto:orto.piter@mail.ru", target="_blank") orto.piter@mail.ru

      .col-xs-12.col-md-4.col-xl-3
        +e.appointment
          +e.H3.title Запись на прием
          +e.text Получите консультацию специалиста по оказываемым услугам и возможным противопоказаниям
          +e.btn
            +b.A.btn--text-white(href="#", data-form='appointment') Записаться на прием

      .col-xs-12.col-md-4.col-xl-3.offset-xl-2
        +e.H3.title Законодательство
        +e.law Согласно ч. 7 ст. 24 ФЗ «О рекламе» — реклама лекарственных средств, медицинских услуг, методов лечения и медицинской техники должна сопровождаться предупреждением о наличии противопоказаний к их применению, использованию и необходимости ознакомления с инструкцией или получения консультации специалистов.

  +e.copyright
    .container
      +e.copyright-text ©  2017 ОРТОПИТЕР. Все права принадлежат авторам

// Overlay
+b.overlay
  +e.bg
  +e.form
    +e.close(href="/")


